<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit: {{limit}}
  </div>


<input
type="range" 
min="1" 
max="50" 
value="{{limit}}"
class="slider form-control-range" 
(change)="handleSlideChange($any($event.target).value)"
 >

 <button class="btn btn-info" (click)="generate()">Generate Words</button>

 <div *ngIf="words" class="card card-body">
   <p class="display-4">{{words}}</p>
 </div>

 <br>

 <div class="text-center display-4 m-3 text-white">
  Country Limit: {{climit}}
</div>

 <input
type="range" 
min="1" 
max="20" 
value="{{climit}}"
class="slider form-control-range" 
(change)="handleCSlide($any($event.target).value)"
 >

 <button class="btn btn-info" (click)="generateCountry()">Generate Country</button>

 <div *ngIf="cwords" class="card card-body">
   <p class="display-4">{{cwords}}</p>
 </div>

</div>